//! **************************************************************************
// Written by: Map P.20131013 on Tue Nov 19 18:43:26 2019
//! **************************************************************************

SCHEMATIC START;
COMP "TX" LOCATE = SITE "C5" LEVEL 1;
COMP "CLK" LOCATE = SITE "B8" LEVEL 1;
COMP "RESET" LOCATE = SITE "A7" LEVEL 1;
NET "CLK_BUFGP/IBUFG" BEL "CLK_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

