//! **************************************************************************
// Written by: Map P.20131013 on Tue Dec 03 21:36:44 2019
//! **************************************************************************

SCHEMATIC START;
COMP "TX" LOCATE = SITE "C5" LEVEL 1;
COMP "CLK" LOCATE = SITE "B8" LEVEL 1;
COMP "RESET" LOCATE = SITE "A7" LEVEL 1;
COMP "LEDS<0>" LOCATE = SITE "M5" LEVEL 1;
COMP "LEDS<1>" LOCATE = SITE "M11" LEVEL 1;
COMP "LEDS<2>" LOCATE = SITE "P7" LEVEL 1;
COMP "LEDS<3>" LOCATE = SITE "P6" LEVEL 1;
COMP "LEDS<4>" LOCATE = SITE "N5" LEVEL 1;
COMP "LEDS<5>" LOCATE = SITE "N4" LEVEL 1;
COMP "LEDS<6>" LOCATE = SITE "P4" LEVEL 1;
COMP "LEDS<7>" LOCATE = SITE "G1" LEVEL 1;
NET "CLK_BUFGP/IBUFG" BEL "CLK_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

