

NET "CLK" LOC = B8;
NET "RESET" LOC = G12;
NET "RX" LOC = B5;
NET "TX" LOC = J3;

NET "LEDS[0]" LOC = M5;
NET "LEDS[1]" LOC = M11;
NET "LEDS[2]" LOC = P7;
NET "LEDS[3]" LOC = P6;
NET "LEDS[4]" LOC = N5;
NET "LEDS[5]" LOC = N4;
NET "LEDS[6]" LOC = P4;
NET "LEDS[7]" LOC = G1;

