//! **************************************************************************
// Written by: Map P.20131013 on Mon Oct 21 17:09:52 2019
//! **************************************************************************

SCHEMATIC START;
COMP "rx" LOCATE = SITE "B5" LEVEL 1;
COMP "tx" LOCATE = SITE "J3" LEVEL 1;
COMP "clk" LOCATE = SITE "B8" LEVEL 1;
COMP "reset" LOCATE = SITE "A7" LEVEL 1;
COMP "tx_full" LOCATE = SITE "N11" LEVEL 1;
COMP "result_alu<0>" LOCATE = SITE "M5" LEVEL 1;
COMP "result_alu<1>" LOCATE = SITE "M11" LEVEL 1;
COMP "result_alu<2>" LOCATE = SITE "P7" LEVEL 1;
COMP "result_alu<3>" LOCATE = SITE "P6" LEVEL 1;
COMP "result_alu<4>" LOCATE = SITE "N5" LEVEL 1;
COMP "result_alu<5>" LOCATE = SITE "N4" LEVEL 1;
COMP "result_alu<6>" LOCATE = SITE "P4" LEVEL 1;
COMP "result_alu<7>" LOCATE = SITE "G1" LEVEL 1;
COMP "rx_empty" LOCATE = SITE "L14" LEVEL 1;
NET "clk_BUFGP/IBUFG" BEL "clk_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

