

NET "CLK" LOC = B8;
NET "RESET" LOC = G12;
NET "RX" LOC = B7;
NET "TX" LOC = C5;



NET "LEDS[0]" LOC = M5;
NET "LEDS[1]" LOC = M11;
NET "LEDS[2]" LOC = P7;
NET "LEDS[3]" LOC = P6;
NET "LEDS[4]" LOC = N5;
NET "LEDS[5]" LOC = N4;
NET "LEDS[6]" LOC = P4;
NET "LEDS[7]" LOC = G1;

NET "STATE[0]" LOC = L14;
NET "STATE[1]" LOC = H12;
NET "STATE[2]" LOC = N14;
NET "STATE[3]" LOC = N11;
NET "STATE[4]" LOC = P12;
NET "STATE[5]" LOC = L13;
NET "STATE[6]" LOC = M12;
NET "STATE[7]" LOC = N13;